@font-face {
    font-family: Oswald;
    src: url("./assets/Fonts/Oswald-Medium.ttf");
}
body {
    margin: 0;
}
/* STRAT LOADING */
body {
    transition: opacity 0.5s ease;
    opacity: 1;
}
.fade-out {
    opacity: 0;
}

.container-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loader {
    display: inline-flex;
    gap: 10px;
  }
  .loader:before,
  .loader:after {
    content: "";
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side,#000 95%,#0000) 50%/15px 15px no-repeat
      #c48080;
    aspect-ratio: 1;
    animation: l10 1.5s infinite alternate;
  }
  .loader:after {
    --s:-1;
  }
  @keyframes l10 {
    0% ,20% {transform:scaleX(var(--s,1)) rotate(0deg) ;clip-path:inset(0)}
    60%,100%{transform:scaleX(var(--s,1)) rotate(30deg);clip-path:inset(40% 0 0)}
  }


  /* fill text animation */
  /* HTML: <div class="loader"></div> */
.loading-text {
    margin-top: 10px;
    width: fit-content;
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #000;
    background: conic-gradient(#000 0 0) 0/1ch 100% no-repeat text;
    animation: l14 1.5s steps(7) infinite alternate;
  }
  .loading-text:before {
    content: "Kate";
  }
  @keyframes l14 {
    to {background-position: calc(100% + 1ch)}
  }
/* END LOADING */
.container-about {
    display: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.logo-section .img-logo {
    margin-top: 10px;
    width: 100px;
}
.bio-section h3 {
    font-family: Oswald;
    font-size: 15px;
    border-bottom: 1px solid black;
}
.menu-section .img-menu {
    width: 45px;
    cursor: pointer;
}
/* WRAPPERABOUT */
.about-head {
    /* background-color: rgb(237, 243, 245); */
    background-color: #ffffff;
    opacity: 0.1;
    background: linear-gradient(135deg, #00000055 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #000000 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #00000055 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #000000 25%, #ffffff 25%) 0px 0/ 20px 20px;
    height: 220px;
    margin: 0;
}
.about-profile {
    display: flex;
    margin: 0 20px;
    position: absolute;
    top: 210px;
}
.kate-profile {
    width: 200px;
    border-radius: 7px;
    margin-right: 20px;
    border: 4px solid white;
}
.about-name .about-feature {
    font-family: Oswald;
    font-size: 30px;
    margin: 20px 0 0 0;
    color: #3b3939;
}
.about-name p {
    margin: 0;
    color: #5e5c5c;
}
.about-share {
    margin-top: 40px;
}
.about-share img {
    width: 20px;
    /* #C6B7B7 */
    margin-right: 19px;
}
.about-details {
    position: absolute;
    top: 500px;
    /* margin-left: 20px; */
    display: flex;
    width: 100%;
}
.section-left {
    width: 25%;
    height: 100%;
}
.left-top {
    border: 1px solid #6D6B6B;
    border-radius: 5px;
    margin-right: 20px;
}
.left-tittle {
    background-color: rgb(240, 247, 249);
    padding: 20px;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
}
.left-tittle h6 {
    color: #6D6B6B;
    font-size: 20px;
    margin: 0 0 8px 0;
}
.left-detail {
    display: flex;
    padding: 5px 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightblue;
}
.left-detail-last {
    display: flex;
    padding: 5px 20px;
    padding-bottom: 5px;
}
.left-detail-last img {
    width: 20px;
    height: 20px;
    margin-top: 13px;
    margin-right: 10px;
}
.left-detail-last p {
    color: #6D6B6B;
    margin-bottom: 10px;
}
.left-detail img {
    width: 20px;
    height: 20px;
    margin-top: 13px;
    margin-right: 10px;
}
.left-detail p {
    color: #6D6B6B;
    margin-bottom: 3px;
}
.left-bottom {
    margin-top: 20px;
    border: 1px solid #6D6B6B;
    border-radius: 5px;
    margin-right: 20px;
}
.bottom-gallery {
    background-color: rgb(240, 247, 249);
    padding: 20px;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
}
.bottom-gallery .gallery-tittle {
    color: #6D6B6B;
    font-size: 20px;
    margin: 0 0 8px 0;
}
.section-right {
    width: 70%;
    height: 100%;
}
.right-top {
    border: 1px solid #6D6B6B;
    border-radius: 5px;
}
.right-tittle {
    display: flex;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    padding: 20px 20px 20px 20px;
    background-color: rgb(240, 247, 249);
}
.right-tittle .post-img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.right-tittle .tittle-post {
    margin: 0;
    font-size: 30px;
    color: #6D6B6B;
    font-size: 20px;
    margin: 3px 0 8px 0;
}
.section-right .post-desc {
    margin: 10px 20px;
    color: #6D6B6B;
}
.right-bottom {
    border: 1px solid #6D6B6B;
    border-radius: 5px;
    margin-top: 20px;
    
}
.post-section {
    padding: 7px;
}
.post-section .right-bottom-img {
    /* padding: 10px; */
    margin-bottom: 5px;
    width: 40px;
    border-radius: 3px;
}
.post-satu {
    width: 100%;
}
#footer {
    position: absolute;
    top: 700px;
    width: 100%;
}
/* .about-socialmedia {
    margin-top: 30px;
}
.about-socialmedia h6 {
    margin: 0 0 10px 0;
    font-family: Oswald;
    font-size: 12px;
    color: #5e5c5c;
}
.about-social1 {
    border: 1px solid #aeabab;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
}
.about-social1 .about-link {
    font-family: Oswald;
    font-size: 14px;
    color: #aeabab;
    text-decoration: none;
} */
/* WRAPPERABOUT */

/* MENU */
.dropdown-menu {
    background-color: rgb(255, 255, 255);
    width: 98%;
    height: 98%;
    position: absolute;
    top: 0;
    padding: 20px 0;
    display: none;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.nav-menu .logo-menu {
    width: 100px;
    height: 29px;
    margin-left: 20px;
    margin-top: 12px;
}
.nav-menu .close-menu {
    width: 50px;
    cursor: pointer;
}
.menu-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.menu-content ul {
    list-style-type: none;
    margin-right: 45px;
}
.list-items li {
    text-align: center;
    font-family: Oswald;
    font-size: 40px;
    margin-bottom: 20px;
}
li a {
    text-decoration: none;
    color: black;
}
li a:hover {
    text-decoration: underline;
}
.copyright-menu {
    text-align: center;
}
/* MENU */

@media (max-width:768px) {
    .logo-section .img-logo {
        margin-top: 12px;
    }
    .bio-section h3 {
        display: none;
    }
    .about-details {
        display: block;
        top: 430px;
        margin-left: 20px;
    }
    .section-left {
        width: 95%;
    }
    .section-right {
        margin-top: 20px;
        width: 90%;
    }
}

@media (max-width:576px) {
    .kate-profile {
        width: 140px;
        margin-right: 10px;
    }
    /* .about-name {
        margin-top: 0px;
    } */
    .about-name .about-feature {
        font-size: 17px;
    }
    .about-share {
        margin-top: 10px;
    }
}