@font-face {
    font-family: Oswald;
    src: url("./assets/Fonts/Oswald-Medium.ttf");
}
/* STRAT LOADING */
body {
    transition: opacity 0.5s ease;
    opacity: 1;
}
.fade-out {
    opacity: 0;
}

.container-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loader {
    display: inline-flex;
    gap: 10px;
  }
  .loader:before,
  .loader:after {
    content: "";
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side,#000 95%,#0000) 50%/15px 15px no-repeat
      #c48080;
    aspect-ratio: 1;
    animation: l10 1.5s infinite alternate;
  }
  .loader:after {
    --s:-1;
  }
  @keyframes l10 {
    0% ,20% {transform:scaleX(var(--s,1)) rotate(0deg) ;clip-path:inset(0)}
    60%,100%{transform:scaleX(var(--s,1)) rotate(30deg);clip-path:inset(40% 0 0)}
  }


  /* fill text animation */
  /* HTML: <div class="loader"></div> */
.loading-text {
    margin-top: 10px;
    width: fit-content;
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #000;
    background: conic-gradient(#000 0 0) 0/1ch 100% no-repeat text;
    animation: l14 1.5s steps(7) infinite alternate;
  }
  .loading-text:before {
    content: "Kate";
  }
  @keyframes l14 {
    to {background-position: calc(100% + 1ch)}
  }
/* END LOADING */
.container-about {
    display: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.logo-section .img-logo {
    width: 100px;
    margin-top: 10px;
}
.bio-section h3 {
    font-family: Oswald;
    font-size: 15px;
    border-bottom: 1px solid black;
}
.menu-section .img-menu {
    width: 45px;
    cursor: pointer;
}

/* MENU */
.dropdown-menu {
    background-color: rgb(255, 255, 255);
    width: 98%;
    height: 98%;
    position: absolute;
    top: 0;
    padding: 20px 0;
    display: none;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.nav-menu .logo-menu {
    width: 100px;
    height: 29px;
    margin-left: 20px;
    margin-top: 12px;
}
.nav-menu .close-menu {
    width: 50px;
    cursor: pointer;
}
.menu-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.menu-content ul {
    list-style-type: none;
}
.list-items li {
    text-align: center;
    font-family: Oswald;
    font-size: 40px;
    margin-bottom: 20px;
}
li a {
    text-decoration: none;
    color: black;
}
li a:hover {
    text-decoration: underline;
}
.copyright-menu {
    text-align: center;
}
/* MENU */

@media (max-width:768px) {
    .logo-section .img-logo {
        margin-top: 12px;
    }
    .bio-section h3 {
        display: none;
    }
}