@font-face {
    font-family: Oswald;
    src: url("./assets/Fonts/Oswald-Medium.ttf");
}
@font-face {
    font-family: ProtestStrike;
    src: url('./assets/Fonts/ProtestStrike-Regular.ttf');
}
@font-face {
    font-family: Script;
    src: url('./assets/Fonts/StyleScript-Regular.ttf');
}
.container {
    margin: 20px;
}
.useless {
    display: flex;
    justify-content: center;
}
.header-section {
    margin-top: 100px;
    font-size: 110px;
    font-family: ProtestStrike;
    line-height: 80px;
}
.header-section .tittle-1 {
    margin-left: 40px;
}
.header-section .tittle-2 {
    margin-left: 70px;
}
.header-section span {
    -webkit-text-fill-color: #fff7f700;
    -webkit-text-stroke-width: 2px;
    color: #0f0909;
    text-align: right;
}
 .tittle-img {
    width: 400px;
 }
.header-section .tittle-4 {
    margin-top: -30px;
    margin-left: 120px;
    z-index: -10;
    position: relative;
}
#notification {
    display: none;
    margin-top: 50px;
}
#notification .pop-up {
    display: block;           /* Make the image a block element */
    margin-left: auto;       /* Set left margin to auto */
    margin-right: auto;      /* Set right margin to auto */
    width: 50%; 
}
.main-section {
    font-family: Oswald;
    padding-top: 100px;
    width: 80%;
    margin: auto;
}
.main-section .main-1 {
    text-align: left;
}
.main-1 span {
    -webkit-text-fill-color: #fff7f700;
    -webkit-text-stroke-width: 1px;
    color: #0f0909;
    text-align: right;
    font-size: 30px;
}
.blog-section {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    display: flex;
}
.main-section .main-h1 {
    font-size: 50px;
    -webkit-text-fill-color: #fff7f700;
    -webkit-text-stroke-width: 1px;
    color: #0f0909;
    margin-top: 30px;
}
.blog-gif {
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.main-section .main-tittle {
    margin-top: 40px;
    font-size: 40px;
    -webkit-text-fill-color: #fff7f700;
    -webkit-text-stroke-width: 1px;
    color: #0f0909;
    text-align: right;
}
.main-section .main-2 {
    text-align: right;
}
.annual-desc {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.annual-sec1 {
    width: 80%;
}
.annual-sec2 {
    text-align: right;
}
.annual-sec2 .year {
    font-size: 30px;
}
.container {
    margin-bottom: 40px;
}
.image-container {
    width: 100%;
}
.image-container img {
    width: 100%;
}
.image-containerdown {
    width: 100%;
}
.image-containerdown img {
    width: 100%;
    margin-top: -110px;
}

/* signature */
.signature-container {
    text-align: right;
    border-right: 2px solid black; /* Cursor effect */
    padding-right: 5px;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflow */
}
#signature {
    font-family: Script;
    font-size: 30px;
    margin-right: 20px;
}
.typing {
    animation: blink 0.7s infinite; /* Cursor blinking effect */
}

@keyframes blink {
    50% { border-color: transparent; }
}
/* signature */


@media (max-width:768px) {
    .header-section {
        font-size: 90px;
        line-height: 67px;
    }
    .container {
        margin-bottom: 30px;
    }
    #signature {
        font-size: 20px;
    }
    .main-section .main-h1 {
        font-size: 40px;
    }
}

@media (max-width:576px) {
    .header-section {
        font-size: 80px;
        line-height: 60px;
    }
    .header-section .tittle-3 {
        letter-spacing: 0px;
    }
    .header-section .tittle-4 {
        margin-left: 100px;
    }
    .tittle-img {
        width: 300px;
     }
}





/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}